version: '3.3'
services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: 'ecommerce_db'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql
# phpmyadmin:
#   image: phpmyadmin/phpmyadmin
#   container_name: pma
#   links:
#     - db
#   environment:
#     PMA_HOST: db
#     PMA_PORT: 3306
#     PMA_ARBITRARY: 1
#   restart: always
#   ports:
#     - 8081:80

volumes:
  my-db:
